@font-face 
{
  font-family: "Futura Book";
  src: url('../fonts/FuturaBook.woff2') format('woff2'), url('../fonts/FuturaBook.woff') format('woff');
}

@font-face 
{
  font-family: "Futura Black";
  src: url('../fonts/Futura Black.woff2') format('woff2'), url('../fonts/Futura Black.woff') format('woff');
}

body
{
  font-family: "Source Serif 4", serif;
  font-weight: 300;
  font-size: var(--size-s);
}

strong
{
  font-weight: 500;
}

h1, h2, h3, h4
{
  font-family: "Futura Book", sans-serif;
  font-weight: normal;
}
