@font-face 
{
  font-family: "Futura Book";
  src: url('../fonts/FuturaBook.woff2') format('woff2'), url('../fonts/FuturaBook.woff') format('woff');
}

@font-face 
{
  font-family: "Futura Black";
  src: url('../fonts/Futura Black.woff2') format('woff2'), url('../fonts/Futura Black.woff') format('woff');
}

@font-face 
{
  font-family: "Souvenir";
  src: url('../fonts/Souvenir.woff2') format('woff2'), url('../fonts/Souvenir.woff') format('woff');
}

@font-face 
{
  font-family: "Souvenir";
  src: url('../fonts/SouvenirI.woff2') format('woff2'), url('../fonts/SouvenirI.woff') format('woff');
  font-style: italic;
}

body
{
  font-family: "Souvenir", sans-serif;
  font-weight: 400;
  font-size: var(--size-m);
}

em, strong
{
  font-style: italic;
  font-weight: 400;
}

h1, h2, h3, h4
{
  font-family: "Futura Book", sans-serif;
  font-weight: 400;
}
