article
{
  display: flex;
  flex-direction: column;
  gap: var(--size-l);

  h1 
  {
    font-size: var(--size-xxl);
    a
    {
      text-decoration: none;
    }
  }

  .space-1999-information
  {
    font-size: var(--size-s);
    text-transform: uppercase;
    font-weight: 500;
  }
}