.strapline
{
  text-align: center;
  padding: var(--size-xxs);
}

header
{
  margin-block-start: 0;
}

.header-content
{
  display: flex;
  flex-direction: row;
  color: white;
  gap: var(--size-m);
  align-items: center;

  h1
  {
    font-size: var(--size-xxxl);
    
    a
    {
      text-decoration: none;
    }

    small
    {
      font-size: var(--size-xl);
    }
  }

  img 
  {
    content-fit: contain;
    max-block-size: calc(2 * var(--size-6xl));
    inline-size: auto; 
  }
}

.main-navigation
{
  ul
  {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    gap: var(--size-m);
  }
}