<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed/podcast" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="generator" content="{{ eleventy.generator }}">
  </head>
  <body>
    <header>
      <p class="strapline">A <em>Space: 1999</em> flashcast from the makers of
        <a href="https://bondfinger.com"><em>Bondfinger</em></a> and
        <a href="https://flightthroughentirety.com"><em>Flight Through Entirety</em></a>.</p>
      <p class="site-heading"><img src="/img/barbara.png"><a href="/">Startling Barbara Bain</a></p>
    </header>
    {{ content }}
  </body>
</html>