html
{
  -webkit-text-size-adjust: 100%;
}

body
{
  min-block-size: 100dvh;
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.01em;
}

body > main 
{
  flex-grow: 1;
}

body > *:not(header, footer), header > *, footer > *
{
  inline-size: var(--content-inline-size);
  margin-inline: auto;
}

body > * + *
{
  margin-block-start: var(--size-xl);
}

main > article + article
{
  margin-block-start: var(--size-5xl);
}

/* main colors */

body
{
  color: var(--main-text-color);
  background-color: var(--barbara-beige);
  background-image: url('../img/moonbase-alpha.svg');
  background-size: 120vw;
  background-repeat: no-repeat;
  background-position-x: -40vw;
  background-position-y: 30vh;
}

header, footer
{
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

/* links */

*
{
  text-decoration-color: var(--barbara-brown);
  text-decoration-thickness: 0.25ex;
  text-underline-offset: 0.25ex;
}

*:link, *:visited
{
  color: var(--main-text-color);
}

*:hover, *:active
{
  color: var(--main-text-color);
  text-decoration-color: white;
}