@font-face
{
  font-family: "Futura Book";
  src: url('/fonts/FuturaBook.woff2') format('woff2');
  font-display: swap;
}

@font-face
{
  font-family: "Futura Book";
  src: url('/fonts/FuturaBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face
{
  font-family: "Futura Black";
  src: url('/fonts/FuturaBlack.woff2') format('woff2');
  font-display: swap;
}

body
{
  font-family: "Futura Book", serif;
  font-weight: 400;
  font-size: var(--size-m);
}

em
{
  font-style: oblique;
}

strong
{
  font-weight: 600;
}

h1, h2, h3, h4
{
  font-family: "Futura Book", sans-serif;
  font-weight: normal;
}
