article
{
  display: flex;
  flex-direction: column;
  gap: var(--size-s);

  h1 
  {
    font-family: "Futura Black", sans-serif;
    font-size: var(--size-xxl);
    a
    {
      text-decoration: none;
    }
  }

  .space-1999-information
  {
    font-family: "Futura Book", sans-serif;
    font-size: var(--size-s);
    text-transform: uppercase;
  }

  .podcast-episode-information, figcaption
  {
    font-size: var(--size-s);
  }
}