media-controller
{
  inline-size: 100%;

  --media-font-size: var(--size-xs);
  --media-font-weight: 300;
  --media-primary-color: var(--barbara-brown);
  --media-control-background: white;
  --media-control-hover-background: var(--barbara-beige-light);
  --media-range-track-background: var(--barbara-beige-dark);
}

media-control-bar
{
  inline-size: 100%;
}

figcaption
{
  margin-block-start: var(--size-xs);
}
