media-controller {
  inline-size: 100%;
  overflow: hidden;
  border-radius: 0.5rem;

  --media-font-family: "Futura Book", serif;
  --media-font-weight: 300;
  --media-primary-color: var(--barbara-brown);
  --media-control-background: var(--barbara-beige-light);
  --media-control-hover-background: white;
  --media-range-track-background: var(--barbara-beige-dark);
  --media-preview-time-text-shadow: none;

  * {
    margin-block-start: 0;
  }

  media-control-bar {
    inline-size: 100%;
  }

  media-airplay-button[mediaairplayunavailable] {
    display: none;
  }

  media-volume-range[mediavolumeunavailable] {
    display: none;
  }

  @media (width < 400px) {
    --media-control-padding: 0.5rem;

    media-volume-range {
      display: none;
    }
  }
}

figure[type="audio"] {
  figcaption {
    margin-block-start: var(--size-s);
  }
}
