dropdown-menu
{
  button {
    background: none;
    border: none;
    color: inherit;
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-thickness: inherit;
    text-underline-offset: inherit;
    padding: 0;
  }

  &:hover, &:active {
    text-decoration-color: white;
  }

  ul
  {
    list-style: none;
    padding: var(--size-xxs);
    position: absolute;
    transform: translateX(calc(-1 * var(--size-xxs)));
    background-color: var(--barbara-beige);
    box-shadow: 0 0 var(--size-xxs) var(--barbara-brown);
    border-radius: var(--size-xxs);
    display: flex;
    flex-direction: column;
    gap: var(--size-4xs);

    li {
      padding: var(--size-4xs);
    }

    a {
      display: inline-block;
      inline-size: 100%;
    }
  }

  [aria-expanded="false"] + ul
  {
    visibility: hidden;
    opacity: 0;
    block-size: 0;
  }

  [aria-expanded="true"] + ul
  {
    visibility: visible;
    opacity: 1;
    block-size: auto;
  }

  li:has([role="menuitem"]:focus)
  {
    background-color: var(--barbara-beige-light);
    outline: none;
    border-radius: var(--size-4xs);
  }
}
