dropdown-menu {
  button {
    padding: 0;
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: inherit;
    text-decoration-color: inherit;
    text-underline-offset: inherit;
    background: none;
    border: none;
  }

  &:hover,
  &:active {
    text-decoration-color: white;
  }

  ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--size-4xs);
    padding: var(--size-xxs);
    list-style: none;
    background-color: var(--barbara-beige);
    border-radius: var(--size-xxs);
    box-shadow: 0 0 var(--size-xxs) var(--barbara-brown);
    transform: translateX(calc(-1 * var(--size-xxs)));

    li {
      padding: var(--size-4xs);
    }

    a {
      display: inline-block;
      inline-size: 100%;
    }
  }

  [aria-expanded="false"] + ul {
    visibility: hidden;
    block-size: 0;
    opacity: 0;
  }

  [aria-expanded="true"] + ul {
    visibility: visible;
    block-size: auto;
    opacity: 1;
  }

  li:has([role="menuitem"]:focus) {
    outline: none;
    background-color: var(--barbara-beige-light);
    border-radius: var(--size-4xs);
  }
}
