.strapline {
  padding: var(--size-xxs);
  font-size: var(--size-s);
}

header {
  margin-block-start: 0;
}

.header-content {
  display: flex;
  flex-direction: row;
  gap: var(--size-m);
  align-items: center;
  color: white;

  h1 {
    font-size: var(--size-3xl);
    line-height: 0.85;
    color: var(--secondary-text-color);

    a,
    a * {
      color: var(--secondary-text-color);
      text-decoration: none;
    }

    small {
      font-size: var(--size-xl);
    }
  }

  img {
    inline-size: auto;
    max-block-size: calc(2 * var(--size-6xl));
    padding-block-start: var(--size-xxs);
  }
}

.main-navigation {
  font-size: var(--size-s);

  & > ul {
    display: flex;
    gap: var(--size-m);
    padding-inline-start: 0;
    margin: 0;
    list-style-type: none;
  }
}
