.plyr
{
  --plyr-color-main: var(--barbara-brown);
  --plyr-audio-border: var(--barbara-beige);
  --plyr-audio-control-color: var(--barbara-brown);
  --plyr-audio-controls-background: var(--barbara-beige-light);

  *
  {
    margin-block-start: 0;
  }

  .plyr__volume:has([aria-disabled="true"])
  {
    flex-grow: 0;
  }
}

figure[type="audio"]
{
  figcaption
  {
    margin-block-start: var(--size-s);
  }
}
