
h1 + h2
{
  margin-block-start: var(--size-xxxl);
}

h2 + .podcast-profile
{
  margin-block-start: var(--size-m);
}

.podcast-profile + h2
{
  margin-block-start: var(--size-xxxl);
}

.podcast-profile
{
  display: flex;
  flex-direction: row;
  gap: var(--size-m);

  a.logo
  {
    flex-shrink: 0;
  }

  img
  {
    inline-size: min(20vw, 150px);
    block-size: min(20vw, 150px);
    border-radius: var(--size-xxs);
  }

  p
  {
    margin-block-start: 0;
  }
}
