.post-links,
.pagination {
  display: flex;
  gap: var(--size-m);
  justify-content: space-between;
  margin-block-start: var(--size-3xl);

  a {
    margin-block-start: 0;
    text-wrap: balance;
  }

  .next {
    text-align: right;
  }
}
