---
title: Startling Barbara Bain
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
layout: layouts/base
pagination:
  data: collections.podcastEpisode
  size: 10
  reverse: true
  alias: posts
---

{% render 'episode.liquid' for posts as post, linkInTitle: true %}

<nav class="pagination navigation-previous-next">
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="previous">&larr;&nbsp;Older Episodes</a>
  {% else %}
  <span></span>
  {% endif %}
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="next">
      Newer Episodes&nbsp;&rarr;
    </a>
  {% endif %}
</nav>
