---
permalink: /podcasts/
layout: layouts/base.liquid
title: Podcasts
---
<h1>Our podcasts</h2>

<h2>Flight Through Entirety</h2>

<section class="podcast-profile">
<a class="logo" href="https://flightthroughentirety.com"><img src="https://flightthroughentirety.com/assets/images/podcast-logo.jpg"></a>
<p><a href="https://flightthroughentirety.com"><em>Flight Through Entirety</em></a> is our first and biggest podcast, an ambitious project to cover the Classic Series of <em>Doctor Who</em> in twenty-six or twenty-seven episodes, a project which became a massive undertaking — more than 280 episodes in over nine-and-a-half years, covering the whole of the Classic Series and most of the New Series. It’s funny and silly and occasionally clever, and we’re terribly proud of it.</p>
</section>

<h2>The Second Great and Bountiful Human Empire</h2>

<section class="podcast-profile">
<a class="logo" href="https://thesecondgreatandbountifulhumanempire.com"><img src="/img/2gab-logo.jpg"></a>
<p><a href="https://thesecondgreatandbountifulhumanempire.com"><em>The Second Great and Bountiful Human Empire</em></a>, is our <em>Doctor Who</em> flashcast. A day or two after each episode of the second RTD era, your <a href="https://flightthroughentirety.com/hosts"><em>Flight Through Entirety</em> hosts</a> convene over the phone to deliver our steaming-hot ill-considered takes on its content and quality.</p>
</p>
</section>

<h2>Untitled Star Trek Project</h2>

<section class="podcast-profile">
<a class="logo" href="https://untitledstartrekproject.com"><img src="/img/ustp-logo.jpg"></a>
<p>In <a href="https://maximumpowerpodcast.com"><em>Untitled Star Trek Project</em></a>, Nathan joins forces with Joe Ford from <a href="https://www.podbean.com/podcast-detail/a644b-15961e/A-Hamster-With-a-Blunt-Penknife---a-Doctor-Who-Commentary-podcast"><em>A Hamster with a Blunt Penknife</em></a> to watch random episodes of all the shows that make up the <em>Star Trek</em> franchise, sometimes providing important production detail and insightful critiques, and sometimes just laughing uproariously at the nonsense of it all.</p>
</p>
</section>

<h2>Bondfinger</h2>

<section class="podcast-profile">
<a class="logo" href="https://bondfinger.com"><img src="/img/bondfinger-logo.jpg"></a>
<p><a href="https://bondfinger.com"><em>Bondfinger</em></a> was our James Bond commentary podcast, which also ended up covering shows like <em>The Avengers</em>, <em>The Prisoner</em> and even <em>The Champions</em>. It’s our second love, a testament not just to the James Bond movie series and the wonderful sixties TV that influenced it, but also to many glorious evenings at Richard’s place, eating and drinking and laughing ourselves stupid. It’s the spiritual forerunner of <em>Startling Barbara Bain</em>.</p>
</section>

<h2>Jodie into Terror</h2>

<section class="podcast-profile">
<a class="logo" href="https://jodieintoterror.com"><img src="/img/jodie-into-terror-logo.jpg"></a>
<p><a href="https://jodieintoterror.com"><em>Jodie into Terror</em></a> was our flashcast on the Jodie Whittaker era of <em>Doctor Who</em> — the forerunner to <a href="https://thesecondgreatandbountifulhumanempire.com"><em>The Second Great and Bountiful Human Empire</em></a>. When we first heard that Jodie Whittaker would be the new Doctor, we realised that we couldn’t wait six or seven years to talk about her historic new era, and so we started to record our ill-judged off-the-cuff reactions to the new episodes just days after they aired.</p>
</section>

<h2>Maximum Power</h2>

<section class="podcast-profile">
<a class="logo" href="https://maximumpowerpodcast.com"><img src="/img/maximum-power-logo.jpg"></a>
<p><a href="https://maximumpowerpodcast.com"><em>Maximum Power</em></a> is a co-production with the <a href="https://trapone.podbean.com"><em>Trap One</em></a> podcast. It’s a podcast about <em>Blake’s 7</em>, a BBC show from the 70s and 80s, which, like <em>Space: 1999</em>, firmly plants one foot on each side of the line between nonsense and genius.</p>
</p>
</section>
