---
permalink: "/feed/podcast"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" 
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" 
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  >
  <channel>
    <title>{{ podcast.title }}</title>
    <itunes:subtitle>{{ podcast.subtitle }}</itunes:subtitle>
    <description>{{ podcast.description }}</description>
    <link>{{ site.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(site.url) }}" rel="self" type="application/rss+xml" />
    <itunes:owner>
      <itunes:name>{{ podcast.owner.name }}</itunes:name>
      <itunes:email>{{ podcast.owner.email }}</itunes:email>
    </itunes:owner>
    <itunes:author>{{ podcast.author }}</itunes:author>
    <itunes:category text="{{ podcast.category }}">
      <itunes:category text="{{ podcast.subcategory }}" />
    </itunes:category>
    <itunes:image href="{{ podcast.imagePath | absoluteUrl(site.url) }}"></itunes:image>
    <itunes:explicit>{{ podcast.explicit }}</itunes:explicit>
    {%- if podcast.type %}
    <itunes:type>{{ podcast.type }}</itunes:type>
    {% endif %}
    <language>{{ podcast.language }}</language>
    <copyright>{% feedCopyright %}</copyright>
    <pubDate>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</pubDate>
    <lastBuildDate>{% feedLastBuildDate %}</lastBuildDate>
    <generator>{{ eleventy.generator }}</generator>
    {%- for post in collections.post | reverse %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ post.page.url | absoluteUrl(site.url) }}</link>
      <pubDate>{{ post.date | dateToRfc3339 }}</pubDate>
      <itunes:episode>{{ post.data.episodeNumber }}</itunes:episode>
      <itunes:summary>{{ post.content | striptags(true) | truncate(500) }}</itunes:summary>
      <description>{% include 'feed-description.njk' %}</description>
      <content:encoded>
        <![CDATA[{% include 'feed-episode.njk' %}]]>
      </content:encoded>
      <enclosure url="{% episodeUrl post.data.episodeFile %}" length="{{ post.data.episodeSize }}" type="audio/mp3"></enclosure>
      <itunes:duration>{{ post.data.episodeDuration }}</itunes:duration>
      {%- if post.data.guid != undefined %}
      <guid isPermalink="false">{{ post.data.guid }}</guid>
      {% else %}
      <guid isPermalink="true">{{ post.page.url | absoluteUrl(site.url) }}</guid>
      {% endif -%}
      {%- if post.data.explicit != undefined %}
      <itunes:explicit>{{ post.data.explicit }}</itunes:explicit>
      {% endif -%}
      {%- if post.data.episodeType != undefined %}
      <itunes:episodeType>{{ post.data.episodeType }}</itunes:episodeType>
      {% endif -%}
    </item>
    {% endfor -%}
  </channel>
</rss>
